# Sys
.DS_Store
.vscode

# Logs
*.log

# Dependency Directories
node_modules

# DLL
dll
lib

# Build
dist

# Optional npm cache directory
.npm

# Optional yarn error log
yarn-error
lib/react_manifest.json



