# Sys
.DS_Store
google*

# Logs
*.log

# Dependency Directories
node_modules/*

# DLL
dll
lib/*

# Build
dist/*

# Optional npm cache directory
.npm

# Optional yarn error log
yarn-error

# Editor file
.vscode
