<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="blockchain,etheruem,bitcoin,neros,whitepaper,common knowledge base">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <header id="header"></header>
  <div class="loading" id="loading">
  </div>
  <main id="root"></main>
  <footer id="footer"></footer>
  <script src="<%= htmlWebpackPlugin.options.react %>"></script>
  <script src="<%= htmlWebpackPlugin.options.styledComponents%>"></script>
  <script type="text/javascript">
    (function () {
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('./service-worker.js')
      }
    })()
  </script>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?4399f56135dc595fe0ee24564e611186";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>

</html>
