@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura.woff2') format('woff2'),
    url('../fonts/futura.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: Futura, 'PingFang-SC Light', 'Microsoft YaHei';
  outline: none;
  letter-spacing: 3px;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}

input::placeholder {
  color: #fff;
}

header {
  position: relative;
  padding-top: 100px;
  z-index: 999;
}
main {
  position: relative;
  z-index: 1;
}
html,
body {
  font-size: 16px;
  min-height: 100vh;
  overflow-x: hidden;
  @media (max-width: 1500px) {
    font-size: 14px;
  }
  @media (max-width: 1200px) {
    font-size: 12px;
  }
  @media (max-width: 992px) {
    font-size: 10px;
  }
  @media (max-width: 768px) {
  }
}
