$btnSize: 60px;
$btnPadding: 10px;
$mainColor: #36cc92;
.container {
  canvas {
    display: block;
    margin: 0 auto;
    width: 80vw;
    max-width: 1800px;
  }
}
.downloadBtn {
  z-index: 999;
  box-sizing: border-box;
  position: fixed;
  bottom: 100px;
  right: 100px;
  padding: $btnPadding;
  width: $btnSize;
  height: $btnSize;
  background: $mainColor;
  border-radius: 50%;
  opacity: 0.3;
  filter: drop-shadow(2px 2px 3px $mainColor);
  img {
    width: 100%;
    height: 100%;
  }
  &:before,
  &:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $btnSize;
    height: $btnSize;
    border-radius: 50%;
    border: 2px solid rgba($mainColor, 0.7);
    filter: blur(0);
    transform-origin: center center;
    z-index: -1;
  }

  &:hover {
    opacity: 1;
    &:before,
    &:after {
      border-color: transparent;
      filter: blur(2px);
      transform: scale(4);
      transition: 1000ms transform ease, 2100ms blur ease,
        900ms border-color ease;
    }
    &:after {
      transition-delay: 100ms;
    }
  }
}
@media (max-width: 800px) {
  .container {
    canvas {
      transform-origin: top center;
      width: 160vw;
      margin-left: -30vw;
      // transform: scale(2);
    }
  }
  .downloadBtn {
    left: 50vw;
    bottom: 40px;
    transform: translateX(-50%);
  }
}
.loading {
  position: relative;
  width: 100%;
  height: 100vh;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 150px;
  }
}
