@import "color.scss";
@import "size.scss";

.slogan {
  background-size: cover;
  width: 100vw;
  height: 64.06vw;
  overflow: hidden;
  position: relative;
}

.locale {
  color: white;
  font-size: 24 * $w;
  position: absolute;
  margin-top: 3.125vw;
  right: 4.6875vw;
  z-index: 200;
  cursor: pointer;

  div {
    display: inline-block;
    text-transform: uppercase;

    &.active {
      color: $cImportant;
    }
  }

  div:first-child {
    padding-right: 12 * $w;
  }

  div ~ div {
    &::before {
      content: "|";
      color: $cNormalW;
      padding-right: 12 * $w;
    }
  }
}

.description {
  display: inline-block;
  vertical-align: top;
  margin-top: 4.948vw;
  margin-left: 8.33vw;
  width: 855 * $w;
  color: $cNormalW;

  .image {
    text-align: center;

    img {
      width: 449 * $w;
    }
  }

  .sloganWord {
    color: $cImportant;
    //   font-size: 60vw * (4 / (3 * 19.2));
    font-size: 60 * $w;
    position: relative;
    margin-top: 92 * $w;
    margin-bottom: 67 * $w;
    width: 120%;
    text-align: left;

    img {
      position: absolute;
      left: -30 * $w;
      width: 54 * $w;
      transform: translate(-100%, -50%);
    }

    .hidden {
      // outline: 1px solid;
      display: none;
    }
  }

  .text {
    // width: 650 * $w;
    width: 85%;
    line-height: 40 * $w;
    font-size: 24 * $w;
  }
}

.sloganImg {
  display: inline-block;
  position: absolute;
  position: absolute;
  width: 51.3vw;
  height: 64.06vw;
  right: 0;
  z-index: 100;

  img {
    position: absolute;
    transition: all 2s ease-out;

    &.little {
      top: 30vw;
      display: none;

      &.actionBefore {
        display: inline-block;
      }

      &.n1 {
        right: 586 * $w;
        width: 89 * $w;
        &.action {
          top: 215 * $w;
        }
      }
      &.n2 {
        right: 489 * $w;
        width: 117 * $w;
        &.action {
          top: 78 * $w;
        }
      }
      &.n3 {
        right: 436 * $w;
        width: 53 * $w;
        &.action {
          top: 286 * $w;
        }
      }
      &.n4 {
        right: 290 * $w;
        width: 167 * $w;
        &.action {
          top: 190 * $w;
        }
      }
      &.n5 {
        right: 252 * $w;
        width: 76 * $w;
        &.action {
          top: 293 * $w;
        }
      }
      &.n6 {
        right: 145 * $w;
        width: 226 * $w;
        &.action {
          top: 143 * $w;
        }
      }
      &.n7 {
        right: 67 * $w;
        width: 66 * $w;
        &.action {
          top: 387 * $w;
        }
      }
    }

    &.big {
      bottom: 0;
      width: 100%;
      transform: translate(100%, 100%);

      &.actionBefore {
        transform: translate(0);
      }
    }
  }
}

.subscribe {
  color: $cImportant;
  position: absolute;
  left: 552 * $w;
  bottom: 305 * $w;

  .line {
    border: 1px solid;
    width: 230 * $w;
    position: absolute;

    &.left {
      border-right: none;
      border-bottom: none;
      height: 90 * $w;
      left: 0;
      top: 50%;
      transform: translate(-274 * $w);
    }

    &.right {
      border-left: none;
      border-top: none;
      height: 200 * $w;
      right: 0;
      bottom: 50%;
      transform: translate(120%);
    }
  }

  .buttonOuter {
    border: 1px solid;
    width: 255 * $w;
    height: 85 * $w;

    .buttonInner {
      border: 1px solid $cImportant;
      color: $cNormalW;
      font-size: 28 * $w;
      width: 240 * $w;
      height: 70 * $w;
      text-align: center;
      text-transform: uppercase;
      line-height: 3.64583vw;
      background-color: $cImportant;
      cursor: pointer;

      &:hover {
        color: $cButtonHover;
      }
    }
    .diagonal {
      position: absolute;
      width: (21.213vw / 19.2);
      height: 1px;
      background-color: $cImportant;
      right: 0;
      bottom: 0;
      transform: rotate(45deg);
      transform-origin: 100%;
    }
  }
}
