@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animation {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.fadeinupBefore {
    opacity: 0;
}

.fadeinup {
    animation-name: fadeInUp;
}

#id-investors {
    max-width: 100%;
}

#id-investors .inner-container {
    max-width: 100%;
}

#id-investors-imgs {
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#id-investors-imgs .investor {
    display: inline-flex;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 26px 25px;
    height: 80px;
    box-sizing: content-box;
}

#id-investors-imgs .investorImg {
    max-height: 100%;
}